/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Medium devices (desktops, 992px and up) */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400);
@font-face {
  font-family: "Courier";
  src: url("../fonts/cour.ttf"); }
body {
  padding: 0px;
  margin: 0px;
  background-color: #0B0E1E; }

textarea {
  resize: none; }

#main {
  /*ebony*/
  height: 100vh;
  z-index: 1;
  overflow-x: hidden; }

.star {
  position: absolute;
  margin: 1px;
  width: 10px;
  z-index: 1; }

.bio {
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  background-color: #F6F7FD;
  border-radius: 5%/3%;
  width: 25vw;
  height: 80vh;
  margin-top: 4%;
  margin-left: 7%;
  padding-right: 3%;
  padding-top: 0%;
  padding-left: 3%;
  z-index: 10;
  overflow: auto; }

.bio-text {
  margin: 0px;
  font-size: 3vh;
  z-index: 10;
  overflow: auto; }

.bluegrey {
  font-weight: bold;
  color: #1C4B9C; }

.works_wrapper {
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
  background-color: black;
  /*height: 100vh;*/ }

.works {
  background-color: #0B0E1E;
  overflow-x: hidden;
  padding: 0px; }

.works_cont {
  margin-top: 50px;
  transform: translateX(50px);
  overflow-x: hidden; }

.work_row {
  margin-top: 37px;
  margin-bottom: 37px; }

.portfolio_image {
  /*margin: 10px;*/
  width: 280px;
  position: relative;
  left: 50%;
  transform: translate(-50%); }

.section_header {
  color: #F6F7FD;
  text-decoration: underline;
  font-size: 28px;
  position: relative;
  left: 11%;
  top: 45px; }

.offset_full {
  height: 100vh; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0B0E1E;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden; }

.contact_list {
  list-style-type: none;
  padding: 0px; }

.contact_word {
  display: inline;
  margin-left: 10px; }

/* FIX icomoon font issues */
#medium {
  font-size: 2.5vh; }

#medium:hover {
  text-decoration: none; }
  #medium:hover .contact_word {
    text-decoration: underline; }

#medium .contact_word {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vh;
  margin-left: 6px; }

#scroll_to_see {
  position: relative;
  color: #F6F7FD;
  top: 72%;
  font-family: "Courier", sans-serif; }

#profile {
  z-index: 1000;
  position: absolute;
  left: 27.8vw;
  top: 2vh;
  position: fixed; }

#profile_img {
  border-radius: 50%;
  border: 4px white solid;
  width: 10vw; }

#astronaut {
  width: 500px;
  position: fixed;
  top: 25vh;
  bottom: 0vh;
  left: 50vw;
  /*-ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);*/ }

.planet {
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  margin: 25px 0px 0px 25px;
  border-radius: 100%;
  width: 300px;
  position: relative;
  z-index: 500; }

.planet:hover {
  border: 10px solid #F6F7FD; }

.planet_caption {
  z-index: 500;
  position: relative;
  margin-top: 15px;
  background: #F6F7FD;
  visibility: hidden;
  padding: 1px 15px 1px 15px;
  border-radius: 3px;
  color: #0B0E1E;
  font-family: 'Ubuntu', sans-serif; }

.planet_caption > h3 {
  text-decoration: underline;
  margin: 10px 0 3px 0; }

.planet_caption ul {
  padding: 0px;
  margin: 0px; }

.horizontal_list_item {
  display: inline;
  list-style: none;
  font-size: 30px;
  margin: 0px 15px 0px 0px; }

.brand-icon-link:hover {
  text-decoration: none; }

.no-padding-no-margin {
  padding: 0px;
  margin: 0px; }

.delay {
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 2s;
  animation-delay: 2s; }

.year {
  color: #F6F7FD;
  text-decoration: underline;
  margin-bottom: -35px;
  margin-left: 18px;
  font-family: "Courier", sans-serif; }

.footer {
  color: #aaa;
  margin: 0;
  font-size: 16px; }

#moon-orbit {
  z-index: 1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 330px;
  height: 330px;
  margin-top: -215px;
  margin-left: -170px;
  position: absolute;
  -webkit-animation: spin-right 40s linear infinite;
  -moz-animation: spin-right 40s linear infinite;
  -ms-animation: spin-right 40s linear infinite;
  -o-animation: spin-right 40s linear infinite;
  animation: spin-right 40s linear infinite; }

#moon {
  z-index: 1;
  background-color: #b2b2b2;
  border-radius: 50px;
  margin-left: -25px;
  margin-top: -25px;
  width: 20px;
  height: 20px;
  top: 0%;
  left: 50%;
  position: absolute; }

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin-right {
  100% {
    -moz-transform: rotate(360deg); } }
@keyframes spin-right {
  100% {
    transform: rotate(360deg); } }
@media (max-width: 992px) {
  .bio {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: auto;
    margin: 20px 0px; }

  #profile {
    display: none;
    z-index: 101; }

  #scroll_to_see {
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }

  .planet_caption {
    visibility: visible; } }
@media (max-width: 1200px) {
  .moon-orbit {
    display: none; } }

/*# sourceMappingURL=index.css.map */
