
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $ebony;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

#astronaut{
  position: fixed;
  top: 25vh;
  bottom: 0vh;
  left: 30vw;
  right: 10vw;
}

// Helper Classes
.bluegrey {
  font-weight: bold;
  color: $bluegrey;
}

.delay{
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  animation-delay: 2s;
}

.offset_full{
  height:  100vh;
  display: block;
}

.no-padding-no-margin {
  padding: 0px;
  margin: 0px;
}

// Body

.main {
  height: 100vh;
  z-index: 1;
  overflow-x: hidden;
}


.bio {
  font-family: $font-main;
  position: fixed;
  background-color: $offwhite;
  border-radius: 5%/3%;
  width: 25vw;
  height: auto;
  margin-top: 4%;
  margin-left: 7%;
  padding-right: 3%;
  padding-top: 0;
  padding-bottom: 20px;
  padding-left: 3%;
  z-index: 10;
  overflow: visible;

  .bio-text {
    margin: 0px;
    font-size: 16px;
    z-index: 10;
    max-width: 100%;
    max-height: 100%;
  }
}

.avatar{
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(52%, -35%);
  border-radius: 50%;
  border: 4px $offwhite solid;
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: {
    image: url("../img/profile.jpg");
    size: cover;
    repeat: no-repeat;
  }

}

.scroll_to_see{
  position: relative;
  color: $offwhite;
  top: 63%;
  left: +50px;
  font-family: $font-code;
}

.works_cont {
    margin-top: 50px;
    overflow-x: hidden;
}

.work_row {
    margin-top: 37px;
    margin-bottom: 37px;
}

.contact_list{
  .contact_word{
    display: inline;
    margin-left: 10px;
  }
  /* FIX icomoon font issues */
  a.medium{
    font-size: 12px;
  }
  a.medium:hover{
    text-decoration: none;
    .contact_word{
      text-decoration: underline;
    }
  }
  a.medium .contact_word{
    font-family: $font-main;
    font-size: 16px;
    margin-left: 8px;
  }

  a.resume{
    @extend .medium;
    li {
      font-size: 16px;
    }
    .contact_word {
      margin-left: 10px;
    }
  }
}

.planet_container{
  position: relative;
  z-index: 3;

  &:hover{
      // overflow: hidden;
    .planet_caption{
      visibility: visible;
    }
  }
}
.planet {
  /* Prevent background color leak outs */
 -webkit-background-clip: padding-box;
 -moz-background-clip:    padding;
  background-clip:         padding-box;
  z-index: 500;
  position: relative;
  width: 250px;
  max-width: 90vw;
  margin: 25px 0px 0px 50px;
  border-radius: 100%;
}

.planet_caption {
  z-index: 500;
  position: relative;
  margin: 15px 10px 0px;
  background: $offwhite;
  visibility: hidden;
  padding: 1px 30px 1px 15px;
  border-radius: 3px;
  color: $ebony;
  font-family: $font-main;
  transition: all 300ms ease-in-out;

  h3 {
    text-decoration: underline;
    margin: 10px 0 3px 0;
  }

  ul {
    padding: 0px;
    margin: 0px;
  }
}

.horizontal_list_item{
  display: inline;
  list-style: none;
  font-size: 30px;
  margin: 0px 15px 0px 0px;
}
.brand-icon-link:hover{
  text-decoration: none;
}


.year{
  color: $offwhite;
  text-decoration: underline;
  margin-bottom: -35px;
  margin-left: 18px;
  font-family: "Courier", sans-serif;
}

.footer{
  color: $body-grey;
  margin: 0;
  font-size: 16px;
  font-family: $font-code;
}

.moon-orbit {
  // border: 1px solid black;
  z-index: 1;
  border-radius: 50%;
  top: 10px / 330px * 100%;
  left: 15px / 330px * 100%;
  // left: 50%;
  width: 330px;
  height: 330px;
  // margin-top: -215px;
  // margin-left: -170px;
  position: absolute;
  -webkit-animation: spin-right 40s linear infinite;
  -moz-animation: spin-right 40s linear infinite;
  -ms-animation: spin-right 40s linear infinite;
  -o-animation: spin-right 40s linear infinite;
  animation: spin-right 40s linear infinite;

  .moon {
    z-index: 1;
    background-color: $moon-color;
    border-radius: 50px;
    margin-left: -25px;
    margin-top: -25px;
    width: 20px;
    height: 20px;
    top: 0%;
    left: 50%;
    position: absolute;
  }
}

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin-right {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}
