@media (max-width: 992px) {
  .bio {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: auto;
    margin: 20px 0px;
  }
  .offset_full{
    height: 80vh;
  }
  .avatar{
    display: none;
    z-index: 101;
  }
  .scroll_to_see{
    position: absolute;
    top: 70vh;
    left: 50%;
    transform: translateX(-50%);
    // left: 50%;
    text-align: center;
  }
  .planet{
    margin: 35px 0 0 0;
    max-width: 100%;
  }
  .planet_caption{
    visibility: visible;
  }
  .moon-orbit{
    display: none;
    visibility: hidden;
  }
}
