/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Medium devices (desktops, 992px and up) */
$ebony: #0B0E1E;
$offwhite: #F6F7FD;
$bluegrey: #1C4B9C;

@font-face {
    font-family:"Consola";
    src: url("fonts/consola.ttf") /* EOT file for IE */
}

@font-face {
    font-family:"Courier";
    src: url("fonts/cour.ttf") /* EOT file for IE */
}


body {
    padding: 0px;
    margin: 0px;
    background-color: $ebony;
}

textarea {
    resize: none;
}

.icon {
    color: $ebony;
    /*ebony*/
    font-size: 40px;
}

.icon:hover {
    cursor: pointer;
}

#main {
    /*ebony*/
    height: 100vh;
    z-index: 1;
    overflow-x: hidden;
}

.star {
    position: absolute;
    margin: 1px;
    width: 10px;
    z-index: 1;
}

.bio {
    position: fixed;
    background-color: $offwhite;
    border-radius: 5%/3%;
    width: 25vw;
    height: 80vh;
    margin-top: 4%;
    margin-left: 7%;
    padding-right: 3%;
    padding-top: 0%;
    // padding-bottom: 5%;
    padding-left: 3%;
    z-index: 10;
    // overflow:scroll;
}

.bio-text {
    margin: 0px;
    font-size: 3vh;
    z-index: 10;
}

.bluegrey {
    font-weight: bold;
    color: $bluegrey;
}

.works_wrapper {
    // background-color: $ebony;

    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
    background-color: black;
    /*height: 100vh;*/
}

.works {
    background-color: $ebony;
    // overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    // overflow: auto;
    // border-top-right-radius: 2%;
    // border-top-left-radius: 2%;
    // background-color: black;
    // /*height: 100vh;*/
}

.works_cont {
    margin-top: 50px;
    margin-left: 50px;
    // overflow-y: scroll;
    overflow-x: hidden;
}

.work_row {
    margin-top: 37px;
    margin-bottom: 37px;
}

.portfolio_image {
    /*margin: 10px;*/
    width: 280px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.section_header{
    color: $offwhite;
    text-decoration: underline;
    font-size: 28px;
    position: relative;
    left: 11%;
    top: 45px;;
}
.offset_full{
    height:  100vh;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $ebony;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.contact_list{
    list-style-type: none;
    padding: 0px;
}

.contact_word{
    display: inline;
    margin-left: 10px;
}

#medium{
    text-align: center;
    bottom: 0px;
}

#scroll_to_see{
    position: relative;
    color: $offwhite;
    top: 72%;
    // left: 50%;
    // transform: translateX(-50%);
    font-family: "Courier", sans-serif;
}

.border_radius_5{
}

#profile{
    z-index: 100;
    position: absolute;
    left: 27.8vw;
    top: 2vh;
    position: fixed;
    // transform: translateX(-80%);
}
#profile_img{
    border-radius: 50%;
    border: 4px white solid;
    width: 10vw;
}

#astronaut{
    width: 30px;
    position: fixed;
    top: 25vh;
    left: 75vw;
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
}

.delay{
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    -ms-animation-duration: 4s;
    animation-duration: 2s;
    animation-delay: 2s;
}

.year{
  color: #F6F7FD;
  text-decoration: underline;
  margin-bottom: -35px;
  margin-left: 18px;
  font-family: "Courier", sans-serif;
}
