<div class="col-md-4 col-sm-6 col-xs-12">
    <div>
        <div class="grid">
            <figure class="effect-milo">
                <img class="card" src=/mfix22.github.io/tree/master/{{include.imgURL}}/>
                <figcaption>
                    <h2>{{include.header}}</h2>
                    <p>{{include.desc}}</p>
                    <a target="_blank" href={{include.linkURL}}>View more</a>
                </figcaption>
            </figure>
        </div>
        <!-- <a href="https://github.com/mfix22/floating_help_button" target="_blank">
            <img class="portfolio_image" src="img/fab_square.png"/>
        </a> -->
    </div>
</div>
